
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

body {
    background-color: black;
}



.teste {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 3px;
    right: 10px;
}